.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box
}

.MuiGrid-item {
    margin: 0;
    box-sizing: border-box
}

.MuiGrid-align-items-xs-center {
    align-items: center
}

.MuiGrid-justify-xs-center {
    justify-content: center
}

.MuiGrid-grid-xs-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%
}

@media (min-width:600px) {
    .MuiGrid-grid-sm-12 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%
    }
}

@media (min-width:960px) {
    .MuiGrid-grid-md-7 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%
    }

    .MuiGrid-grid-md-11 {
        flex-grow: 0;
        max-width: 91.666667%;
        flex-basis: 91.666667%
    }
}

.MuiPaper-root {
    color: rgba(0, 0, 0, .87);
    transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1) 0s;
    background-color: #fff
}

.MuiPaper-rounded {
    border-radius: 4px
}

.MuiPaper-elevation0 {
    box-shadow: none
}

.MuiPaper-elevation12 {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .12), 0 12px 17px 2px rgba(0, 0, 0, .1), 0 5px 22px 4px rgba(0, 0, 0, .08)
}

.MuiTypography-root {
    margin: 0
}

.MuiTypography-body2 {
    font-size: .875rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: .01071em
}

.MuiTypography-body1 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .00938em
}

.MuiTypography-h6 {
    font-size: 1.25rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: .0075em
}

.MuiTypography-displayBlock {
    display: block
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill .2s cubic-bezier(.4, 0, .2, 1) 0s;
    flex-shrink: 0;
    user-select: none
}

.jss220 {
    flex-grow: 1
}

.jss221 {
    padding-top: 32px;
    padding-bottom: 32px
}

.jss222 {
    height: 100%;
    display: flex;
    flex-direction: column
}

.jss223 {
    flex-grow: 1
}

.jss224 {
    height: 220px
}

.jss225 {
    align-self: flex-start
}

.jss226 {
    width: 100%;
    height: auto;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.jss227 {
    color: #fff
}

@media (max-width:599.95px) {
    .jss227 {
        font-size: 42px
    }
}

.jss228 {
    color: #fff;
    margin-top: 16px
}

@media (max-width:599.95px) {
    .jss228 {
        font-size: 22px
    }
}

.jss208 {
    flex-grow: 1
}

.jss209 {
    border: 1px solid #eee;
    background: #f7f7f7;
    border-radius: 0;
    margin-bottom: 16px
}

.jss210 {
    padding: 24px
}

.jss211 {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px
}

.jss212 {
    padding: 16px;
    margin-top: 32px
}

.jss213 {
    font-size: 14px
}

.jss214 {
    font-size: 14px
}

.jss215 {
    font-size: 18px;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    font-weight: 400;
    margin-left: 4px;
    padding-top: 8px;
    border-right: 1px solid #eee;
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px
}

.jss216 {
    padding-bottom: 48px
}

.jss217 {
    color: #3e4852;
    padding: 1px;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee
}

.jss218 {
    height: 65px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1)
}

.jss219 {
    margin-top: 0 !important
}

.MuiStepConnector-root {
    flex: 1 1 auto
}

.MuiStepConnector-vertical {
    padding: 0 0 8px;
    margin-left: 12px
}

.MuiStepConnector-alternativeLabel {
    top: 12px;
    left: calc(-50% + 20px);
    right: calc(50% + 20px);
    position: absolute
}

.MuiStepConnector-line {
    display: block;
    border-color: #bdbdbd
}

.MuiStepConnector-lineHorizontal {
    border-top-style: solid;
    border-top-width: 1px
}

.MuiStepConnector-lineVertical {
    min-height: 24px;
    border-left-style: solid;
    border-left-width: 1px
}

.MuiStepper-root {
    display: flex;
    padding: 24px
}

.MuiStepper-horizontal {
    align-items: center;
    flex-direction: row
}

.MuiStepper-vertical {
    flex-direction: column
}

.MuiStepper-alternativeLabel {
    align-items: flex-start
}

.MuiStep-horizontal {
    padding-left: 8px;
    padding-right: 8px
}

.MuiStep-alternativeLabel {
    flex: 1;
    position: relative
}

.MuiStepIcon-root {
    color: rgba(0, 0, 0, .38);
    display: block
}

.MuiStepIcon-root.MuiStepIcon-completed {
    color: #11209f
}

.MuiStepIcon-root.MuiStepIcon-active {
    color: #11209f
}

.MuiStepIcon-root.Mui-error {
    color: #ff1744
}

.MuiStepIcon-text {
    fill: #fff;
    font-size: .95rem;
    font-family: Roboto, Helvetica, Arial, sans-serif
}

.MuiStepLabel-root {
    display: flex;
    align-items: center
}

.MuiStepLabel-root.MuiStepLabel-alternativeLabel {
    flex-direction: column
}

.MuiStepLabel-root.Mui-disabled {
    cursor: default
}

.MuiStepLabel-label {
    color: rgba(0, 0, 0, .54)
}

.MuiStepLabel-label.MuiStepLabel-active {
    color: rgba(0, 0, 0, .87);
    font-weight: 500
}

.MuiStepLabel-label.MuiStepLabel-completed {
    color: rgba(0, 0, 0, .87);
    font-weight: 500
}

.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    margin-top: 16px;
    text-align: center
}

.MuiStepLabel-label.Mui-error {
    color: #ff1744
}

.MuiStepLabel-iconContainer {
    display: flex;
    flex-shrink: 0;
    padding-right: 8px
}

.MuiStepLabel-iconContainer.MuiStepLabel-alternativeLabel {
    padding-right: 0
}

.MuiStepLabel-labelContainer {
    width: 100%
}

.MuiCollapse-container {
    height: 0;
    overflow: hidden;
    transition: height .3s cubic-bezier(.4, 0, .2, 1) 0s
}

.MuiCollapse-entered {
    height: auto;
    overflow: visible
}

.MuiCollapse-hidden {
    visibility: hidden
}

.MuiCollapse-wrapper {
    display: flex
}

.MuiCollapse-wrapperInner {
    width: 100%
}

.MuiStepContent-root {
    margin-top: 8px;
    border-left: 1px solid #bdbdbd;
    margin-left: 12px;
    padding-left: 20px;
    padding-right: 8px
}

.MuiStepContent-last {
    border-left: none
}